<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon" />
    <title>@ViewBag.Title - Paylocity Interview</title>
    @Styles.Render("~/bundles/libraryStyles")
</head>
<body>

    @*
        Site URL input
        Used to build other URLs from the client (Webservice endpoints, image URLs, etc.)
    *@
    <input id="uiSiteUrl" type="hidden" value="@Paylocity.Interview.Config.Values.URL" />

    @* Spinner *@
    <div id="uiGlobalSpinner" class="ui dimmer">
        <div class="ui text loader">Loading</div>
    </div>

    @* Header *@
    <div class="ui fixed inverted menu">
        <div class="ui container">
            <a href="@Paylocity.Interview.Config.Values.URL" class="header item">
                <img src="~/Content/Images/logo.png" alt="Paylocity Logo" class="logo" />
                Paylocity Interview
            </a>
        </div>
    </div>

    @* Body Content *@
    <div class="ui main container">
        @RenderBody()
    </div>

    @* Footer *@
    <footer>
        <div class="ui container">
            <p class="header item">&copy; @DateTime.Now.Year Braydon Davis</p>
        </div>
    </footer>

    @Scripts.Render("~/bundles/libraryScripts")
    @Scripts.Render("~/bundles/commonScripts")
    @Scripts.Render("~/bundles/webserviceScripts")
    @Scripts.Render("~/bundles/controllerScripts")
    @RenderSection("scripts", required: false)
</body>
</html>
